*{
    font-family: sans-serif;
}
h1{
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: underline;
   

}
h2{
    text-align: center;
    margin-top: 0.6vw;
    margin-bottom: 0.6vw;
    color: white;
    text-decoration: underline;
}
.MarkDownPage_container{
    padding-top: 2vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}
a{
    color: lightblue;
    text-decoration: none;
}
p{ text-align: center;
    color: rgb(255, 255, 255);
}

code{
    width: 100vw;
    
    text-align: center;
    color: rgb(255, 255, 255);
}
pre{
    text-align: center;
}
li{
    text-align: center;
    color: white;
    list-style: none;
}